@model IEnumerable<AppBanDoDienTu.Models.Bills>

@{
    ViewBag.Title = "BillsofSale";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Tên các đơn hàng</h2>
<table class="table table-sm table-striped table-hover"
       id="cases"
       style="width: 100%">
    <thead>
        <tr id="list-header">
            <th scope="col">Tên người dùng</th>
            <th scope="col">ID sản phẩm</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thời gian mua</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bills in ViewBag.data)
        {
        <tr>
            <td>@bills.username</td>
            <td>@bills.id_product</td>
            <td>@bills.address</td>
            <td>@bills.phone</td>
            <td>@bills.total</td>
            <td>@bills.time</td>
            <td><a href="@Url.Action("PutBill","Products",new {id=@bills._id})" class="btn btn-info">Sửa</a></td>
            <td><a href="@Url.Action("DeleteBill","Products",new {id=@bills._id})" class="btn btn-danger">Xóa</a></td>
        </tr>
        }
    </tbody>
</table>
