@model AppBanDoDienTu.Models.mvcProductsModel

@{
    ViewBag.Title = "Put";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Sửa sản phẩm </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        @Html.HiddenFor(model => model.id)

       
   

    <div class="form-group">
        <p class="control-label col-md-2">Giá tiền :</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
        </div>
    </div>


      

    <div class="form-group">
        <p class="control-label col-md-2">Số lượng :</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.total)
            @Html.ValidationMessageFor(model => model.total, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Khuyến mãi :</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.promo)
            @Html.ValidationMessageFor(model => model.promo, "", new { @class = "text-danger" })
        </div>
    </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
